<nav class="bg-primary-navy-dark h-screen p-4 w-56">
    <div class="mb-10">
        <img src="/images/svg/logo.svg" alt="Raygun" class="mb-8" />
    </div>
    <ul class="space-y-4">
        <li>
            <a href="/crash-reporting" class="flex items-center space-x-4 text-primary-raygun-blue">
                <img src="images/svg/cr-icon.svg" alt="Crash Reporting Icon">
                <span>Crash Reporting</span>
            </a>
        </li>
        <li>
            <a href="/rum" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/rum-icon.svg" alt="Real User Monitoring Icon">
                <span>Real User Monitoring</span>
            </a>
        </li>
        <li>
            <a href="/deployments" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/deployments-icon.svg" alt="Deployments Icon">
                <span>Deployments</span>
            </a>
        </li>
        <li>
            <a href="/users" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/users-icon.svg" alt="Users Icon">
                <span>Users</span>
            </a>
        </li>
        
        
        <li class="mt-10">
            <a href="/manage-teams" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/team-icon.svg" alt="Teams Icon">

                <span>Manage Teams</span>
            </a>
        </li>
        <li>
            <a href="/settings" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/settings-icon.svg" alt="Settings Icon">
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="/whats-new" class="flex items-center space-x-4 text-secondary-blue-grey hover:text-primary-blue-light">
                <img src="images/svg/whatsnew-icon.svg" alt="What's New Icon">
                <span>What's New</span>
            </a>
        </li>
    </ul>
</nav>