@model Minigun.Areas.CrashReporting.Models.CrashReportingViewModel

@{
    ViewData["Title"] = "Crash Reporting";
}


<div id="crashreporting-content" class="space-y-4">
    @await Html.PartialAsync("_ErrorSummary", Model)
</div>