@model Minigun.Areas.CrashReporting.Models.CrashReportingViewModel

@{
    ViewData["Title"] = "Crash Reporting";
}


<div id="crashreporting-content" class="space-y-4">
    <div id="error-timeseries-wrapper"
         hx-get="@Url.Action("ErrorTimeseriesPartial", "CrashReporting")"
         hx-include="#selected-application"
         hx-target="#error-timeseries-content"
         hx-indicator="#error-timeseries-content"
         hx-swap="outerHTML"
         hx-trigger="load once, applicationSelected from:document">
        @await Html.PartialAsync("_ErrorTimeseries", Model.ErrorsTimeseries)
    </div>

    <div id="error-groups-wrapper"
         hx-get="@Url.Action("ErrorGroupsPartial", "CrashReporting")"
         hx-include="#selected-application"
         hx-target="#error-groups-content"
         hx-indicator="#error-groups-content"
         hx-swap="outerHTML"
         hx-trigger="load once, applicationSelected from:document">
        @await Html.PartialAsync("_ErrorGroups", Model.ErrorGroups)
    </div>
</div>